%hover-scale {
  &:hover {
    transform: scale(1.01);
    transition: transform ease-in 300ms;
  }
}
%transition-checkmark {
  transition: width 0.3s linear;
}
%transition-checkmark-icon {
  transition: transform 0.3s linear;
}
