%hover-scale {
  &:hover {
    transform: scale(1.01);
    transition: transform ease-in 300ms;
  }
}
%transition-checkmark {
  transition: width 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
%transition-checkmark-icon {
  transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
