// Colors
$primary: hsl(267, 66%, 60%);
$secondary: hsl(317, 100%, 74%);
$terciary: hsl(165, 56%, 74%);
$black: hsl(0, 0%, 6%);
$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 49%);
$grey-light: hsl(0, 0%, 92%);
$grey-lighter: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);
$shadow-light: hsla(0, 0%, 0%, 0.2);
$shadow-dark: hsla(0, 0%, 0%, 0.4);

// Fonts
$shrikhand: Shrikhand, Arial, Helvetica, sans-serif;
$roboto: Roboto, Arial, Helvetica, sans-serif;

// Default values for box-shadow mixin
$shadow-x: 2px;
$shadow-y: 5px;
$shadow-blur: 8px;
$shadow-spread: 0;
$shadow-color: $shadow-light;
