@import "_variables.scss";
@import "_mixins.scss";
@import "_placeholders.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  color: $black;
  font-family: $roboto;
  background-image: url(/assets/bg-pattern.svg);
  background-attachment: fixed;
  background-size: 500px;
}

.siteheader {
  margin: 0;
  padding: 0.5rem;
  background-color: $white;
  position: relative;

  @include respond-to("medium") {
    padding: 0.5rem 2rem;
  }

  &__logo {
    margin: 0;
    text-align: center;
    font-size: 1.875rem;
    font-family: $shrikhand;
  }
}

.back-arrow {
  position: absolute;
  top: 0.95rem;
  left: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: $black;

  &:hover {
    color: $primary;
  }

  &--hidden {
    display: none;
  }
}

.location {
  padding: 1rem;
  background-color: $grey-light;
  @include box-shadow($inset: true, $x: 0, $spread: -5px, $color: $shadow-dark);
  text-align: center;

  @include respond-to("medium") {
    padding: 1rem 2rem;
  }

  &__value {
    position: relative;
  }

  &__value::before {
    content: "\f3c5";
    font: var(--fa-font-solid);
    position: absolute;
    left: -1.5rem;
  }
}

.hero {
  background-color: $grey-lighter;
  text-align: center;
  padding: 2.5rem 1rem 3.5rem;

  @include respond-to("medium") {
    padding: 2.5rem 2rem 3.5rem;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
  }

  &__content {
    margin-bottom: 1.875rem;
  }
}

.btn {
  padding: 1rem 1.5rem;
  border-radius: 500px;
  border: none;
  background-color: $primary;
  background-image: linear-gradient(-5deg, $primary, $secondary);
  @include box-shadow();
  color: $white;
  font-size: 1rem;
  font-family: $roboto;

  &:hover {
    background-image: linear-gradient(
      -5deg,
      lighten($primary, 8%),
      lighten($secondary, 8%)
    );
    @include box-shadow($color: $shadow-dark);
  }

  &:active {
    background-image: linear-gradient(
      -5deg,
      lighten($primary, 16%),
      lighten($secondary, 16%)
    );
    @include box-shadow($inset: true);
  }
}

.steps {
  padding: 3rem 1rem 4.25rem;
  background-color: $white;

  @include respond-to("medium") {
    padding: 3rem 2rem 4.25rem;
  }
  @include respond-to("large") {
    padding: 3rem 2rem;
  }

  &__title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1.75rem;
  }

  &__list {
    margin: 0;
    padding-left: 0.75rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    list-style: none;
    counter-reset: item_count;
    @include respond-to("large") {
      gap: 2rem;
    }
  }

  &__item {
    min-height: 4.5rem;
    padding: 1rem 2rem;
    border-radius: 1.5625rem;
    flex-basis: 100%;
    background-color: $grey-lighter;
    counter-increment: item_count;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include box-shadow();

    @include respond-to("large") {
      flex-basis: calc(33.33% - (4rem / 3));
    }

    &:before {
      content: counter(item_count);
      position: absolute;
      left: -0.75rem;
      background-color: $primary;
      color: $white;
      border-radius: 50%;
      width: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
    }

    &--color-purple {
      background-color: $primary-faded;
    }
  }

  &__icon {
    margin-right: 1.75rem;
    color: $grey-dark;

    &--color-purple {
      color: $primary;
    }
  }

  &__instruction {
    font-weight: bold;
  }
}

.restaurants {
  padding: 3rem 1rem 4.25rem;
  background-color: $grey-lighter;

  @include respond-to("medium") {
    padding: 3rem 2rem 4.25rem;
  }

  &__title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1.75rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    @include respond-to("medium") {
      gap: 2rem;
    }
  }
}

.card {
  flex-basis: 100%;
  border-radius: 20px;
  position: relative;
  @include box-shadow();

  @extend %hover-scale;

  @include respond-to("medium") {
    flex-basis: calc(50% - 1rem);
  }

  & a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $black;
      text-decoration: none;
    }
  }

  &__figure {
    margin: 0;
    padding: 0;
  }

  &__image {
    display: block;
    aspect-ratio: 27 / 14;
    width: 100%;
    object-fit: cover;
    object-position: 50% 60%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  &__figcaption {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 1rem 0.8rem;
    background-color: $white;
  }

  &__name {
    margin: 0;
    margin-bottom: 0.3125rem;
    font-size: 1.125rem;
  }

  &--new::before {
    content: "Nouveau";
    padding: 0.5rem 0.75rem;
    background-color: $terciary;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: bold;
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

.footer {
  padding: 1.5rem 1rem 2.125rem;
  background-color: $grey-darker;

  @include respond-to("medium") {
    padding: 1.5rem 2rem 2.125rem;
  }

  &__title {
    color: $white;
    font-size: 1.25rem;
    font-family: $shrikhand;
    font-weight: normal;
    margin: 0;
    margin-bottom: 1rem;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__link {
    line-height: 1.8;
    &:link,
    &:visited,
    &:active {
      color: $white;
      text-decoration: none;
    }
    &:hover {
      color: $secondary;
    }
  }

  &__icon {
    margin-right: 0.75rem;
    width: 1rem;
  }
}

.banner {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  display: block;
}

.menu {
  padding: 2rem 1rem 3.5rem;
  background-color: $grey-lighter;

  &__title {
    margin: 0;
    margin-bottom: 1.75rem;
    font-size: 1.75rem;
    font-family: $shrikhand;
    font-weight: normal;
  }

  &__section {
    margin-bottom: 2.75rem;
  }

  &__section-title {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: normal;
  }

  &__underline {
    margin-bottom: 0.875rem;
    width: 2.5rem;
    height: 0.1875rem;
    background-color: $terciary;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }

  &__item {
    border-radius: 20px;
    background-color: $white;
    @include box-shadow();
    @extend %hover-scale;
  }

  &__item-label {
    padding: 0.875rem 1.375rem 0.75rem 0.75rem;
    display: block;
    cursor: pointer;
  }

  &__item-name {
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }

  &__description-container {
    font-size: 0.9375rem;
    display: flex;
  }

  &__item-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: auto;
  }

  &__item-price {
    font-weight: bold;
    margin-left: 0.9375rem;
  }

  &__btn-container {
    width: 100%;
    text-align: center;
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}
