:root {
  --primary: #9356dc;
  --secondary: #ff79da;
  --terciary: #99e2d0;
  --footer-bg: rgb(53, 53, 53);
  --black: rgb(16, 16, 16);
  --grey: rgb(234, 234, 234);
  --white: #ffffff;
  --shrikhand: Shrikhand, Arial, Helvetica, sans-serif;
  --roboto: Roboto, Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.siteheader {
  margin: 0;
  padding: 0.5em;
  &__logo {
    margin: 0;
    text-align: center;
    color: var(--black);
    font-size: 1.875em;
    font-family: var(--shrikhand);
  }
}

.location {
  padding: 1em;
  background-color: var(--grey);
  box-shadow: inset 0 5px 8px -5px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: var(--black);
  font-size: 1em;
  font-family: var(--roboto);

  &__value {
    position: relative;
  }

  &__value::before {
    content: "\f3c5";
    font: var(--fa-font-solid);
    position: absolute;
    left: -1.5em;
  }
}
