@import "_variables.scss";
@import "_mixins.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  color: $black;
  font-family: $roboto;
}

.siteheader {
  margin: 0;
  padding: 0.5em;

  &__logo {
    margin: 0;
    text-align: center;
    font-size: 1.875em;
    font-family: $shrikhand;
  }
}

.location {
  padding: 1em;
  background-color: $grey;
  @include box-shadow($inset: true, $x: 0, $spread: -5px, $color: $shadow-dark);
  text-align: center;

  &__value {
    position: relative;
  }

  &__value::before {
    content: "\f3c5";
    font: var(--fa-font-solid);
    position: absolute;
    left: -1.5em;
  }
}

.hero {
  background-color: $grey-lighter;
  text-align: center;
  padding: 2.5em 2.5em 3.5em;

  &__title {
    margin: 0;
    font-size: 1.5em;
  }
  &__content {
    margin-bottom: 1.875em;
  }
}

.btn {
  padding: 1em 1.5em;
  border-radius: 500px;
  border: none;
  background-color: $primary;
  background-image: linear-gradient(-5deg, $primary, $secondary);
  @include box-shadow();
  color: $white;

  &:hover {
    background-image: linear-gradient(
      -5deg,
      lighten($primary, 8%),
      lighten($secondary, 8%)
    );
    @include box-shadow($color: $shadow-dark);
  }

  &:active {
    background-image: linear-gradient(
      -5deg,
      lighten($primary, 16%),
      lighten($secondary, 16%)
    );
    @include box-shadow($inset: true);
  }
}
